.site-logo{
    height: 80px;
    min-width: 700px;
    background-color: rgb(99, 99, 99);

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-size: 50px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.site-name{
    width: 610px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.site-name img{
    padding: -50px;
    width: 80px;
    text-align: center;
    float: left;
    mix-blend-mode: multiply;

}
.site-name p{
    margin-top: 10px;
    margin-left: 20px;
}
.site-logo:link { text-decoration: none; }
.site-logo:visited { text-decoration: none; }
.site-logo:hover { text-decoration: none; }
.site-logo:active { 
    transition: font-size 0.15s;
    font-size: 45px;
    text-decoration: none; 
}